ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: rgb(6, 59, 6);
  box-shadow: 4px 2px 5px gray;
  color: rgb(6, 59, 6);
  margin-bottom: 2rem;
  padding: 1.5rem 6rem;
  background-image: url("https://cdn.dribbble.com/users/405145/screenshots/15025890/media/b5580ed13abe4a098c8036854c706b76.png?compress=1&resize=400x300&vertical=top");
}

.navBar button {
  background: rgb(6, 59, 6);
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: rgb(9, 138, 9);
  color: white;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

b {
  color: white;
  border: 2px transparent;
  text-shadow: -1px 1px 2px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}
